/* 
------- FONTS ----------
font-family: "Raleway", sans-serif;
font-family: "Lato", serif;
*/

/* ---- IMPORTS ------- */
@import url("https://fonts.googleapis.com/css?family=Raleway:200,400,600,700|Lato:400,700");

* {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

body {
  background: #e0eff6;
}

.container {
  width: 60%;
  max-width: 1200px;
  margin: auto;
}

.segment {
  padding: 125px 0 150px;
}

.innerSegment {
  width: 75%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.header {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #4c9dc3;
}

.header__underline {
  height: 2px;
  width: 60px;
  margin: auto;
  margin-bottom: 40px;
  background: #4c9dc3;
}

.header__underline__light {
  background: white;
}

.header-light {
  color: white;
}

@media only screen and (max-width: 1050px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 80%;
  }
}
