@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600|Montserrat:200,400,600');

/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.landing {
  background-color: #416EAD;
  height: 735px;
}

.nav__landing {
  height: 100px;
  width: 100%;
}

.landing__leftBg__side {
  -webkit-clip-path: polygon(0 0, 25% 0, 79% 70%, 0% 100%);
  clip-path: polygon(0 0, 30% 0, 79% 70%, 0% 100%);
  left: -1px;
  position: relative;
  background: #22477A;
  height: 100%;
  width: 500px;
  display: inline-block;
}

.landing__leftBg {
  background: #22477A;
  height: 100%;
  width: calc(50% - 300px);
  display: inline-block;
}

.landing__container {
  opacity: 1;
  transition: opacity 0.3s;
}

/* .landingContainerFaded {
  opacity: 0.15;
  transition: opacity 0.3s;
} */

.box {
  height: 100px;
  background: #416ead;
  width: 100%;
}

.nav__darkBg {
  -webkit-clip-path: polygon(0% 0, 25% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0, 21% 0, 30% 100%, 0% 100%);
  left: calc(50% - 301px);
  position: absolute;
  top: 0;
  background: #22477A;
  height: 100px;
  width: 500px;
  display: inline-block;
}

.nav__darkBg__left {
  position: absolute;
  top: 0;
  background: #22477A;
  height: 100px;
  width: calc(50% - 301px);;
  display: inline-block;
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: auto;

}




.iconPlaceholder {
  height: 10px;
  width: 10px;
  border: 3px solid white;
  background: #c83f32;
  display: inline-block;
  float: left;
  margin: 41px 5px;
  border-radius: 5px;
  z-index: 10;
  position: relative;
}

.nav__title {
  height: 100px;
  float: left;
  line-height: 100px;
  color: white;
  font-size: 16px;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  z-index: 10;
  position: relative;
}

.nav__logoTitle {
  height: 100px;
  display: inline-block;
}

.nav__logoTitle:hover {
  cursor: pointer;
}

.nav__linkContainer {
  height: 100px;
  float: right;
}

.nav__link {
  line-height: 30px;
  height: 70px;
  padding: 35px 35px;
  text-align: right;
  color: white;
  display: inline-block;
  font-size: 14px;
  transition: opacity 0.3s;
  text-decoration: none;
}


.nav__hamburger {
  line-height: 30px;
  text-align: right;
  color: white;
  font-size: 22px;
  transition: opacity 0.3s;
  display: none;
  padding: 0;
  height: initial;
}

.nav__hamburger:hover {
  cursor: pointer;
}

.nav__text {
  display: inline;
}

.nav__underline {
  height: 2px;
  width: 40px;
  background: white;
  margin: auto;
  opacity: 0;
  transition: opacity 0.1s;
  border-radius: 2px;
}

.nav__link:last-child {
  padding: 20px 0px 20px 35px;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link:hover .nav__underline {
  opacity: 1;
  transition: opacity 0.1s;
}

.title__container {
  position: absolute;
  top: 200px;
  width: 100%;
  color: white;
  opacity: 0;
}

.fadeLandingIn {
  opacity: 1;
  transition: opacity 0.3s;
}

.title {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
}

.title__sub {
  color: lightgray;
  margin: 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.landingImg {
  float: right;
  width: 50%;
  max-width: 500px;
  margin-top: 30px;
  display: inline-block;
}



.title__box {
  margin-top: 130px;
  width: 40%;
  float: left;
}

/* background: #EE870E; */
.title__btn {
  background: #c83f32;
  color: black;
  width: 132px;
  line-height: 36px;
  text-align: center;
  margin: 20px 20px 20px 0;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid #c83f32;
  text-decoration: none;
  box-sizing: border-box;
}

.title__btn:hover {
  background: #f44c3c;
  border: 2px solid #f44c3c;
  cursor: pointer;
  transition: all 1s;
}

.title__btn__empty {
  width: 135px;
  line-height: 35px;
  text-align: center;
  margin: 20px 20px 20px 0;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid white;
  background: none;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

.title__btn__empty:hover {
  background:#416eac;
  border: 2px solid #416eac;
  cursor: pointer;
  transition: all 1s;
}

.segment {
  background: #f6f6f6;
  padding: 125px 0 150px;
}

.innerSegment {
  width: 75%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;

}

.header {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #22477a;
}

.header__underline {
  height: 2px;
  width: 60px;
  margin: auto;
  margin-bottom: 40px;
  background: gray;
}

.header__underline__light {
  background: white;
}

.servers__innerSegment {
  overflow: visible;
}

.services__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: visible;
  margin-bottom: 30px;
}

.services__box {
  width: 30%;
  display: inline-block;
  text-align: center;
  background: #416eac;
  position: relative;
  height: 300px;
  background: #fefefe;
  border: 1px solid #e8e8e8;
  border-top: 5px solid #416EAD;
}


.services__box:hover {
  cursor: pointer;
  box-shadow: 2px 2px 40px -19px;
}

.services__iconCircle {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: auto;
  margin-top: 30px;
}

.services__icon {
  height: 60px;
  color: #416EAD;
  font-size: 30px;
}

.services__boxTitle {
  font-size: 16px;
  padding-top: 20px;
  color: gray;
}

.services__boxsub {
  padding: 30px 10px;
  color: #a8a8a8;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.portfolio {
  height: auto;
  padding-bottom: 150px;
}

.header-light {
  color: white;
}

.port__wrapper {
  display: flex;
  align-items: stretch;
  background: #2b2b2b;
  flex-wrap: wrap;
}


.port__img {
  width: 100%;
  display: block;
  transition: transform 0.3s;
}


.port__img__container {
  width: 33.33333%;
  position: relative;
  overflow: hidden;
}

.port__img__cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.port__img__label {
  opacity: 0;
  width: 100%;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  color: white;
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}

.port__img__cover:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.port__img__container:hover img{
  transform: scale(1.1);
  transition: transform 0.3s;
}

.port__img__container:hover .port__img__label{
  opacity: 1;
  top: 50%;
  transition: all 0.3s 0.1s;
}


.about {
  padding: 120px 0;
}

.about__segment {
  display: flex;
  overflow: visible;
}

.about__Img {
  width: calc(100% - 40px);
  margin-right: 40px;
}

.about__img__container {
  width: 100%;
  margin-left: 5%;
  margin-left: 5%;
  float: left;
}

.rightPanel {
  width: 100%;
}

.about__rightPanel__container {
  width: 100%;
  margin-left: 5%;
  margin-left: 5%;
  float: left;
}

.text__container {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about__header {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #22477a;
}

.about__sub {
  color: gray;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 18px;
}

.quote__segment {
  background: #22477a;
}

.quote__sub {
  color: #dfdfdf;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
}

.offer {
  background: #416eac;
  padding-bottom: 100px;
}

.offer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: visible;
}

.offer__column {
  width: 50%;
  float: left;
}

.offer__innerSegment {
  overflow: visible;
}

.offer__box {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.2s;

}



.offer__icon__container {
  float: left;
  height: 100%;
  width: 60px;
  padding: 20px;
}

.offer__icon {
  margin: 10px;
  font-size: 35px;
  line-height: 200px;
  color: white;
}

.offer__text {
  float: left;
  width: calc(100% - 100px);
  color: white;
}

.offer__title {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.offer__subtitle {
  font-size: 14px;
  color: #cbe1ff;
  margin-top: 10px;
  font-weight: normal;
  line-height: 22px;
  transition: color 0.2s;
}


.offer__box:hover .offer__subtitle {
  color: #f6faff;
  transition: color 0.3s
}

.offer__box:hover .offer__icon {
  transform: rotate(20deg);
  transition: transform 0.3s
}




.pricing {
  background: #e6e6e6;
}

.innerSegment__pricing {
  overflow: visible;
}

.pricing__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.pricing__box {
  padding: 40px 25px;
  height: 300px;
  width: 40%;
  background: #d4d4d4;
  margin: 0 0 20px;
}

.pricing__boxTitle {
  text-align: center;
}

.clients {
  background: #22477a;
}



.pricing__underline {
  height: 2px;
  width: 60px;
  margin: 20px auto;
  background: gray;
}

.contact {
  background: #22477a;
}

.contact__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: visible;
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact__box {
  width: 30%;
  display: inline-block;
  text-align: center;
  word-wrap: break-word;
  transition: all 0.3s;
}



.contact__box:hover svg {
  color: #c83f32;
  transition: all 0.3s;
}

.contact__box:hover {
  cursor: pointer;
}

.contact__box:hover .contact__iconCircle {
  border: 1px solid #c83f32;
  transition: all 0.3s;
}

.contact__boxTitle {
  font-size: 20px;
  padding-top: 20px;
}

.contact__iconCircle {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #e7edf4;
  border: 1px solid #e7edf4;
  margin: auto;
}

.contact__icon {
  color: #22477a;
  font-size: 30px;
  line-height: 80px;
  height: 80px;
}

.contact__boxsub {
  padding-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.footer__text {
  color: #dfdfdf;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
}


.footer {
  padding: 50px 0;
  position: relative;
  background: #0b2a54;
}

.footer__backTop {
  position: absolute;
  bottom: 50px;
  right: 20px;
  color: #c5c5c5;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0;
}

.contact__header {
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #22477a;
}

.contact__form {
  width: 100%;
  margin-bottom: 40px;
}

.contact__name {
  width: calc(50% - 50px);
  margin-bottom: 30px;
  line-height: 40px;
  padding: 0 15px;
  margin-right: 100px;
  box-sizing: border-box;

}

.contact__email {
  width: calc(50% - 50px);
  margin-bottom: 30px;
  line-height: 40px;
  padding: 0 15px;
  box-sizing: border-box;
  display: inline-block;
}

.contact__message {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  line-height: 25px;
  padding: 10px 15px;
  resize: none;
}

.contact__message, .contact__email, .contact__name{
  display: inline-block;
  background: #fbfbfb;
  outline: none;
  border: 1px solid #eeeeee;
  font-weight: 400;
}

.contact__message::placeholder, .contact__email::placeholder, .contact__name::placeholder {
  color: #c8c8c8;
  font-weight: 400;
}

.contact__submit {
  border: none;
  background: #416eac;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 0;
  float: right;
  transition: background 0.3s;
}

.contact__submit:hover {
  cursor: pointer;
  background: #3f87ea;
  transition: background 0.3s;
}

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.popup__inner {
  height: 80vh;
  margin: 10vh 10vw;
  width: 80vw;
  top: 0;
  background: white;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 40;
  overflow: auto;
  position: relative;
  box-shadow: 7px 7px 60px -15px;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 18px;
  color: #bcbcbc;
  padding: 15px 20px;
  font-weight: 600;
  font-family: arial;
}

.popup__close:hover {
  color: #787878;
  cursor: pointer;
}

.popup__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.popup__close:hover {
  cursor: pointer;
}

.popup__header {
  padding: 0 0 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #22477a;
  margin: 0;
}

.popup__subheader {
  color: #969696;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  margin: 0 100px 40px;
}

.popup__main {
  text-align: center;
  color: #416eac;
  font-size: 70px;
}

.popup__main__location {
  text-align: center;
  color: #416eac;
  font-size: 55px;
}

.popup__main__email {
  text-align: center;
  color: #416eac;
  font-size: 60px;
}

.clearBoth {
  clear: both;
}

@media only screen and (max-width: 1400px) {
  .popup__main__email {
    font-size: 50px;
  }
}


@media only screen and (max-width: 1150px) {
  .contact__wrapper {
    display: block;
  }

  .contact__box {
    width: 100%;
    margin-bottom: 50px;
  }

  .contact {
    padding-bottom: 50px;
  }

  .contact__iconWrapper {
    width: 50%;
    float: left;
  }

  .contact__iconCircle {
    float: right;
    margin-right: 30px;
  }

  .contact__boxsub {
    text-align: left;
    padding-top: 0;
    line-height: 80px;
  }
}

@media only screen and (max-width: 1050px) {
    .popup__main {
      font-size: 9vw;
    }

    .popup__main__location {
      font-size: 7vw;
    }

    .popup__main__email {
      font-size: 40px;
    }


    .nav__linkContainer {
      z-index: 100;
      position: relative;
      top: 30px;
      width: initial;
    }

    .nav__hamburger {
      display: block;
      line-height: 40px;
    }

    .nav__dropDown {

    }

    .nav__dropDown__alt {
      position: absolute;
      top: 70px;
      width: 100vw;
      right: -12.5vw;
      background: rgba(34, 71, 122, 0.93);
    }

    .nav__dropDown__alt .nav__underline {
      display: none;
    }

    .nav__dropDown__alt .nav__link:hover {
      background: rgba(34, 71, 122, 1);
    }

    .nav__link {
      display: block;
      padding: 10px 0;
      height: initial;
      text-align: center;
    }

    .nav__active .nav__text {
      color: #c3cfde;
    }


    .nav__link__light {
      background: #22477A;
    }

    .nav__link:hover .nav__underline {
      opacity: 0;
    }

    .nav__link:hover {

    }

    .nav__link:last-child {
      padding: 10px 0;
    }

    .nav__darkBg__left {
      width: 100%;
    }

    .landing__container {
      text-align: center;
    }

    .landingImg {
      float: none;
      margin-top: 0;
      min-width: 250px;
    }




    .nav__darkBg {
      display: none;
    }

    .landing__leftBg {
      width: 100%;
    }

    .landing__leftBg__side {
      display: none;
    }

    .title__box {
      width: 100%;
      text-align: center;
      margin-top: 60px;
    }

    /* services */
    .services__wrapper {
      display: block;
    }

    .services__box {
      width: 100%;
      margin-bottom: 50px;
      padding-bottom: 50px;
      height: auto;
    }

    .about__segment {
      display: block;
      text-align: center;
    }

    .text__container {
      margin-top: 50px;
      position: initial;
      transform: none;
    }

    .about__Img {
      width: 100%;
      margin-right: 0;
      max-width: 350px;
    }

    .offer__wrapper {
      display: inline-block;
    }

    .offer__innerSegment {
      overflow: visible;

    }

    .offer__column {
      width: 100%;
    }

    .port__img__container {
      width: 50%;
    }


    .title__btn__empty {
      margin: 20px 0 20px 0;
    }

    .title__container {
      top: 150px;
    }

    .landing {
      height: 640px;
    }
}



@media only screen and (max-width: 900px) {
  .popup__main__email {
    font-size: 30px;
  }

}


@media only screen and (max-width: 700px) {
  .popup__main__email {
    font-size: 20px;
  }

  .port__img__container {
    width: 100%;
  }

  .popup__subheader {
    margin: 0 40px 40px;
  }

  .title__btn__empty {
    width: 45%;
    margin: 20px 0 20px 5%;
  }

  .title__btn {
    width: 45%;
    margin: 20px 5% 20px 0;
  }


  .contact {
    padding-bottom: 0;
  }

  .contact__iconWrapper {
    width: auto;
    float: none;
  }

  .contact__iconCircle {
    float: none;
    margin: auto;
  }

  .contact__boxsub {
    text-align: center;
    line-height: auto;
  }

}

@media only screen and (max-width: 500px) {
  .popup__main__email {
    font-size: 15px;
  }

  .popup__content {
    position: relative;
    top: 0;
    transform: none;
    margin-top: 60px;
  }

}
