@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600|Montserrat:200,400,600');

/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: auto;
}

.segment {
  background: #f6f6f6;
  padding: 125px 0 150px;
}

.innerSegment {
  width: 75%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.header {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #22477a;
}

.header__underline {
  height: 2px;
  width: 60px;
  margin: auto;
  margin-bottom: 40px;
  background: gray;
}

.header__underline__light {
  background: white;
}

.header-light {
  color: white;
}
