.portfolio {
  height: auto;
  padding-bottom: 150px;
}

.gallary__innerSegment {
  overflow: visible;
}

.port__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: visible;
}

.port__img {
  width: 100%;
  display: block;
  transition: transform 0.3s;
  border-radius: 10px 10px 0 0;
}

.port__img__container {
  background: #fefefe;
  border-radius: 10px;
  flex: none;
  width: 30%;
  margin: 0;
  padding: 0;
  margin-bottom: 3vw;
}

.port__img__container:hover {
  cursor: pointer;
}

.port__img__label {
  height: 5vw;
  background: white;
  text-align: center;
  line-height: 5vw;
  font-size: calc(0.5vw + 10px);
  margin: 0;
  color: #3c7b9a;
  font-family: "Lato", serif;
  border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 1150px) {
  .port__img__container {
    width: 47%;
  }
}
