.landing {
  background-color: #416EAD;
  height: 735px;
}

.landing__leftBg__side {
  -webkit-clip-path: polygon(0 0, 25% 0, 79% 70%, 0% 100%);
  clip-path: polygon(0 0, 30% 0, 79% 70%, 0% 100%);
  left: -1px;
  position: relative;
  background: #22477A;
  height: 100%;
  width: 500px;
  display: inline-block;
}

.landing__leftBg {
  background: #22477A;
  height: 100%;
  width: calc(50% - 300px);
  display: inline-block;
}

.landing__container {
  opacity: 1;
  transition: opacity 0.3s;
}

.title__container {
  position: absolute;
  top: 200px;
  width: 100%;
  color: white;
  opacity: 0;
}

.fadeLandingIn {
  opacity: 1;
  transition: opacity 0.3s;
}






@media only screen and (max-width: 1050px) {
  .landing__container {
    text-align: center;
  }

  .landingImg {
    float: none;
    margin-top: 0;
    min-width: 250px;
  }

  .landing__leftBg {
    width: 100%;
  }

  .landing__leftBg__side {
    display: none;
  }

  .landing {
    height: 640px;
  }
}
