.pique {
  height: 900px;
  background: #e0eff6;
  background-image: url("../images/landingBg.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.title__header {
  font-size: 44px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
}

.title__sub {
  color: #c4def2;
  margin: 0;
  font-size: 19px;
  font-family: "Lato", serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.title__box {
  margin-top: 240px;
  width: 45%;
  margin-left: 5%;
  float: left;
}

/* background: #EE870E; */
.title__btn {
  background: #f2632e;
  color: white;
  width: 132px;
  line-height: 30px;
  text-align: center;
  margin: 20px 20px 20px 0;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid #f2632e;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 14px;
}

.title__btn:hover {
  background: #fc4f0f;
  border: 2px solid #fc4f0f;
  cursor: pointer;
  transition: all 1s;
}

.landingImgContainer {
  position: relative;
  padding-top: 7vw;
  height: calc(380px);
  float: right;
  margin-right: 5%;
  width: 35%;
  max-height: 400px;
}

.landingImg {
  width: 100%;
  max-width: 370px;
  position: absolute;
  display: inline-block;
  bottom: 0;
}

@media only screen and (max-width: 1050px) {
  .landingImgContainer {
    width: 100%;
    padding-top: 20px;
    margin: 0;
    text-align: center;
  }

  .landingImg {
    margin: auto;
    position: static;
  }

  .title__box {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-left: 0;
  }

  .title__btn__empty {
    margin: 20px 0 20px 0;
  }

  .title__container {
    top: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .title__btn {
    width: 45%;
    margin: 20px 5% 20px 0;
  }
}

@media only screen and (max-width: 570px) {
  .landingImg {
    max-width: 60vw;
  }
}
