
.about {
  padding: 120px 0;
}

.about__segment {
  display: flex;
  overflow: visible;
}

.about__Img {
  width: calc(100% - 40px);
  margin-right: 40px;
}

.about__img__container {
  width: 100%;
  margin-left: 5%;
  margin-left: 5%;
  float: left;
}

.rightPanel {
  width: 100%;
}

.text__container {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about__rightPanel__container {
  width: 100%;
  margin-left: 5%;
  margin-left: 5%;
  float: left;
}


.about__header {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #22477a;
}

.about__sub {
  color: gray;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 18px;
}

@media only screen and (max-width: 1050px) {
  .about__segment {
    display: block;
    text-align: center;
  }

  .text__container {
    margin-top: 50px;
    position: initial;
    transform: none;
  }

  .about__Img {
    width: 100%;
    margin-right: 0;
    max-width: 350px;
  }
}
