.about {
  padding: 120px 0;
}

.about__segment {
  display: flex;
}

.about__Img {
  width: 35%;
  height: 35%;
  margin-right: 10%;
  float: right;
  filter: opacity(85%);
}

.rightPanel {
  width: 50%;
  float: left;
}

.text__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about__header {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #3c7b9a;
}

.about__sub {
  color: #5087ae;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 22px;
  font-family: "Lato", serif;
}

@media only screen and (max-width: 1050px) {
  .rightPanel {
    width: 100%;
  }

  .about__segment {
    display: block;
    text-align: center;
  }

  .text__container {
    margin-top: 50px;
    position: initial;
    transform: none;
  }

  .about__Img {
    width: 100%;
    margin-right: 0;
    max-width: 350px;
    height: 40vw;
    margin-right: 0%;
    float: none;
  }
}
