.nav {
  height: 100px;
  background: #416ead;
  width: 100%;
}

.nav__landing {
  height: 100px;
  width: 100%;
}

.nav__darkBg {
  -webkit-clip-path: polygon(0% 0, 25% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0, 21% 0, 30% 100%, 0% 100%);
  left: calc(50% - 301px);
  position: absolute;
  top: 0;
  background: #22477A;
  height: 100px;
  width: 500px;
  display: inline-block;
}

.nav__darkBg__left {
  position: absolute;
  top: 0;
  background: #22477A;
  height: 100px;
  width: calc(50% - 301px);;
  display: inline-block;
}


.nav__icon {
  height: 10px;
  width: 10px;
  border: 3px solid white;
  background: #c83f32;
  display: inline-block;
  float: left;
  margin: 41px 5px;
  border-radius: 5px;
  z-index: 10;
  position: relative;
}

.nav__title {
  height: 100px;
  float: left;
  line-height: 100px;
  color: white;
  font-size: 16px;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  z-index: 10;
  position: relative;
}

.nav__logoTitle {
  height: 100px;
  display: inline-block;
}

.nav__logoTitle:hover {
  cursor: pointer;
}

.nav__linkContainer {
  height: 100px;
  float: right;
}

.nav__link {
  line-height: 30px;
  height: 70px;
  padding: 35px 35px;
  text-align: right;
  color: white;
  display: inline-block;
  font-size: 14px;
  transition: opacity 0.3s;
  text-decoration: none;
}


.nav__hamburger {
  line-height: 30px;
  text-align: right;
  color: white;
  font-size: 22px;
  transition: opacity 0.3s;
  display: none;
  padding: 0;
  height: initial;
}

.nav__hamburger:hover {
  cursor: pointer;
}

.nav__text {
  display: inline;
}

.nav__underline {
  height: 2px;
  width: 40px;
  background: white;
  margin: auto;
  opacity: 0;
  transition: opacity 0.1s;
  border-radius: 2px;
}

.nav__link:last-child {
  padding: 20px 0px 20px 35px;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link:hover .nav__underline {
  opacity: 1;
  transition: opacity 0.1s;
}

@media only screen and (max-width: 1050px) {
    .nav__linkContainer {
      z-index: 100;
      position: relative;
      top: 30px;
      width: initial;
    }

    .nav__hamburger {
      display: block;
      line-height: 40px;
    }

    .nav__dropDown__alt {
      position: absolute;
      top: 70px;
      width: 100vw;
      right: -12.5vw;
      background: rgba(34, 71, 122, 0.93);
    }

    .nav__dropDown__alt .nav__underline {
      display: none;
    }

    .nav__dropDown__alt .nav__link:hover {
      background: rgba(34, 71, 122, 1);
    }

    .nav__link {
      display: block;
      padding: 10px 0;
      height: initial;
      text-align: center;
    }

    .nav__active .nav__text {
      color: #c3cfde;
    }

    .nav__link__light {
      background: #22477A;
    }

    .nav__link:hover .nav__underline {
      opacity: 0;
    }

    .nav__link:last-child {
      padding: 10px 0;
    }

    .nav__darkBg__left {
      width: 100%;
    }

    .nav__darkBg {
      display: none;
    }
  }
